/**
 * Component
 * -----------------------------------------------------------------------------
 * Namespace: `c-`
 * Block: `donate`
 * -----------------------------------------------------------------------------
 */

.c-donate {
  @include clearfix;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 60px;

  &__section {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    margin: 0 auto 80px;

    @include media-above("md") {
      width: 33.333%;
      float: left;
      margin: 0;
    }

  }

  &__icon {
    height: 150px;
    margin-bottom: 40px;
  }

}
